.accountContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.achieveContainer {
  width: 270px;
  height: 270px;
  text-align: center;
  border-radius: 20px;
  margin: 17px;
  background: rgb(100, 100, 100)
    radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.35));
  box-shadow:
    inset rgba(0, 0, 0, 0.5) -3px -3px 8px,
    inset rgba(255, 255, 255, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.achieveImg {
  width: 260px;
}

.disabledImg {
  filter: grayscale(1);
  transition: 1s;
  width: 260px;
  height: 230px;
}

.disabledImg:hover {
  filter: grayscale(0);
  transition: 1s;
  width: 270px;
  height: 235px;
}
/* .achieveContainer {
  filter: grayscale(0);
  transition: 1s;

} */
.achieveContainer:hover {
  filter: grayscale(0);

  transition: 1s;
}
.accountContainerCustom {
  margin: 25px;
}
