* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.locationContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 30px;
  justify-content: space-around;
  gap: 30px;
  min-width: 890px;
  max-width: 1000px;
  margin: 20px 0;
  align-self: center;
  background: linear-gradient(320deg, #5b58584d 0%, #d7d7d742 94%);
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
  transform: translateY(2px);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  /* position: relative; */
  padding-bottom: 50px;
}

.mapCont {
  border: 3px solid #fff;
  height: 400px;
}
.mapContainer {
  width: 100%;
  min-height: 400px;
  align-self: flex-start;
}

.cardContent {
  width: 45%;
}

.descriptionSheet {
  padding: 10px;
  hyphens: auto;
  margin-bottom: 10px;
}

.locationTitle {
  color: #fff;
  padding: 5px 0;
  padding-left: 18px;
  font-size: 2.3em;
  margin-top: 15px;
  line-height: 1;
  margin-left: 10px;
  background-image: linear-gradient(
    to right,
    rgba(152, 152, 173, 0),
    rgb(152, 152, 173) 3%,
    rgba(102, 51, 153, 0.409) 10%,
    rgba(152, 152, 173, 0)
  );
}

.descriptionSheet::before {
  content: '';
  width: 45%;
  height: 94%;
  border-radius: 20px;
  background-color: #ffffff80;
  position: absolute;
  top: 30px;
  right: 35px;
  z-index: -1;
}

.commentsTitle {
  /* text-transform: uppercase; */
  color: #fff;
  font-size: 2.3em;
  line-height: 1;
  margin-left: 10px;
  margin-bottom: 5px;
}

/* .locationTitle {
  color: #fff;
  font-size: 2.3em;
  margin-top: -20px;
  line-height: 1;
  margin-bottom: 30px;
} */
/* .descriptionSheet::before {
  content: '';
  width: 45%;
  height: 93%;
  border-radius: 20px;
  background-color: #ffffff80;
  position: absolute;
  top: 6%;
  right: 35px;
  z-index: -1;
} */

/* .commentsTitle {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
} */

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.SecondExample {
  min-width: 300px;
}

.SecondExample .Project {
  background-color: lightblue;
  max-width: 100%;

  height: 35vh;
  overflow: hidden;
  font-size: 25px;
  border: 3px solid #fff;
  text-transform: capitalize;
}

.SecondExample .Project * {
  color: #fff;
}

.imgLocation,
.imgLocationMap {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.imgLocationMap {
  min-height: 400px;
}

.commentContainer {
  border-top: solid #ffffff9c 2px;
  padding: 10px 0 20px;
  display: flex;
  margin-left: 10px;
  /* position: relative; */
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50px;
  border: black solid 1px;
  flex-shrink: 0;
}

.inputComments {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.commentTextArea {
  width: 270px;
  min-height: 80px;
  outline: rgba(102, 51, 153, 0.488) 2px solid;
  /* outline-offset: 2px; */
  border: #fff;
  inset: #fff;
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin-right: 5px;
}

.editTextArea {
  min-height: 100%;
  width: 190px;
  
}

/* .OnePlaceChallengeBtn {
  font-weight: bold;
  border-radius: 20px;
  height: 50px;
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
  background-image: linear-gradient(320deg, #5b5858 0%, #d7d7d7 94%);
  transform: translateY(2px);
} */

.textContainer {
  padding-left: 18px;
  font-size: 18px;
  line-height: 1;
}
.userNameTitle {
  font-size: 20px;
  width: 300px;
  margin-bottom: 5px;
  padding-left: 18px;
  line-height: 1.34;
  color: rgb(255, 255, 255);
  font-weight: 800;
  background-image: linear-gradient(
    to right,
    rgba(152, 152, 173, 0),
    rgb(152, 152, 173) 3%,
    rgba(102, 51, 153, 0.409) 10%,
    rgba(152, 152, 173, 0)
  );
}

.locationBtn {
  height: 50px;
  width: 130px;
  margin: 0;
  background-color:rgba(102, 51, 153, 0.409) !important ;
}

.editBtn {
 width: ;
 margin-left: 10px;
}

.trashIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40px;
  border-radius: 100%;
  background-color: white;
  color: var(--defaultBackground);
}

.btnsContainer{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5px;
}

.trashEditIcons{
  margin: 2px;
}

.trashEditIcons:hover {
  scale: 1.5;
}