.locations-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 30px;
  animation: fadeIn 1s ease-in-out;
  justify-items:center;
  margin: 0 100px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add additional styling as needed */
