* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.locationContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  border: solid grey 1px;
  padding: 30px;
  justify-content: space-around;
  gap: 30px;
  min-width: 890px;
  max-width: 1000px;
  margin: 20px 0;
align-self: center;
}

.mapContainer {
  width: 100%;
  min-height: 400px;
}

.cardContent {
  width: 45%;

}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.SecondExample {
  min-width: 300px;
}

.SecondExample .Project {
  background-color: lightblue;
  max-width: 100%;
  position: relative;
  height: 35vh;
  overflow: hidden;
  color: #fff;
  font-size: 25px;
  border: 3px solid #fff;
  text-transform: capitalize;
}

.SecondExample .Project * {
  color: #fff;
}

.imgLocation,
.imgLocationMap {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.imgLocationMap {
  min-height: 400px;
}

.commentContainer {
  border-top: solid lightgrey 2px;
  padding: 10px 0 20px;
  display: flex;
}

.avatar {
  width: 60px;
  margin-right: 20px;
}

.inputComments {
  display: flex;
  justify-content: space-between;
}

.commentTextArea {
  width: 75%;
}
