.locations-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 380px)
  ); /* Change 'auto-fill' to 'auto-fit' to allow automatic adjustment */
  grid-auto-rows: minmax(100px, auto); /* Set a minimum row height to control item wrapping */
  gap: 40px;
  justify-content: center; /* Center the grid items horizontally */
  animation: fadeIn 1s ease-in-out;
  max-width: 1300px;
  justify-items: center;
  margin: 20px auto;
 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.locationsCard {
  max-width: 345px;
  background-color: white;
  color: black;
  margin: 15px 0;
  transition: 'transform 0.3s';
}

.locationsCard:hover {
  transform: 'scale(1.1)';
}
.css-185gdzj-MuiCardHeader-root {
  padding: 10px !important;
}
.css-1ubwf9v-MuiAvatar-root {
  background-color: #a07000;
  width: 60px !important;
  height: 60px !important;
  margin-right: 0 !important;
}
.css-et1ao3-MuiTypography-root {
  font-size: 1.2em !important;
  font-weight: 800 !important;
}

.css-1rwjz6-MuiCardActions-root {
  padding: 0 !important;
}
.css-18hmmoi-MuiTypography-root {
  margin: 0 !important;
}
/* Add additional styling as needed */
