.locations-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 380px)
  ); /* Change 'auto-fill' to 'auto-fit' to allow automatic adjustment */
  grid-auto-rows: minmax(100px, auto); /* Set a minimum row height to control item wrapping */
  gap: 40px;
  justify-content: center; /* Center the grid items horizontally */
  animation: fadeIn 1s ease-in-out;
  max-width: 1300px;
  justify-items: center;
  margin: 20px auto;
  margin-top: -30px;
}
.drop-down {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 380px)
  ); /* Change 'auto-fill' to 'auto-fit' to allow automatic adjustment */
  grid-auto-rows: minmax(100px, auto); /* Set a minimum row height to control item wrapping */
  gap: 40px;
  justify-content: center; /* Center the grid items horizontally */
  animation: fadeIn 1s ease-in-out;
  max-width: 1300px;
  justify-items: center;
  margin: 20px auto;
  margin-bottom: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add additional styling as needed */
