/* .card-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;

} */

.titleRegLog {
  font-size: 2em;
  font-weight: 800;
}
