.getedAchiev {
  width: 270px;
  height: 270px;
  position: relative;
  text-align: center;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 17px;
  padding-top: 10px;
  background:  rgb(5, 32, 112); ;  /* темно-синий цвет */
  box-shadow:
    inset rgba(0, 0, 0, 0.5) -3px -3px 8px,
    inset rgba(255, 255, 255, 0.9) 3px 3px 8px,
    rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;
}

.getedAchiev::after {
  content: '';
  position: absolute;
  inset: 8px;
  background-color:   rgb(5, 32, 112); ;
  border-radius: inherit;
 
}

.getedAchiev h2 {
  font-family: system-ui;
  font-size: 2rem;
  color: #ffa3fd;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;

}

.getedAchiev img {
  position: relative; /* Добавлено: установка позиции элемента изображения */
  z-index: 3;
}

.getedAchiev::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 140%;
  background-image: linear-gradient(180deg, #865dff, #e384ff);
  animation: rotate 3s linear infinite;
}



@keyframes rotate {
  to {
    transform: rotate(360deg); /* Исправлено: свойство transform вместо rotate */
  }
}
