.themeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.link {
  text-decoration: none;
}
.listItem1 {
  background-image: url('../../../../../client/public/2.jpg');
  background-size: cover;
}

.listItem2 {
  background-image: url('../../../../../client/public/3.jpg');
  background-size: cover;
}

.listItem3 {
  background-image: url('../../../../../client/public/1.jpg');
  background-size: cover;
}

.headerTheme {
  color: white;
  font-size:45px;
  text-align: center;
  font-weight: 800;
}
.titleTheme {
  color: white;
  font-size: 60px;
}


.listItem1,
.listItem2,
.listItem3 {
  background-size: 100%; /* Изначальный размер */
  overflow: hidden;
}

.listItem1:hover,
.listItem2:hover,
.listItem3:hover {
  background-size: 110%; /* Увеличиваем размер фона на 10% при наведении */
  transition: background-size 0.3s ease-in-out; /* Плавное увеличение/уменьшение */

}

.listItemButton {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

.cardMedia {
  height: 250px;
}