.themeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.link {
  text-decoration: none;
  width: 840px;
  
}
.listItem1 {
  background-image: url('../../../../../client/public/2.jpg');
  background-size: cover;
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
}

.listItem2 {
  background-image: url('../../../../../client/public/3.jpg');
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
}

.listItem3 {
  background-image: url('../../../../../client/public/1.jpg');
  background-size: cover;
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
}

.headerTheme {
  color: white;
  font-size:45px;
  text-align: center;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.162);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 0 230px;

}
.titleTheme {
  color: white;
  font-size: 60px;
}


.listItem1,
.listItem2,
.listItem3 {
  background-size: 100%; /* Изначальный размер */
  overflow: hidden;
}

.listItem1:hover,
.listItem2:hover,
.listItem3:hover {
  background-size: 110%; /* Увеличиваем размер фона на 10% при наведении */
  transition: background-size 0.3s ease-in-out; /* Плавное увеличение/уменьшение */

}

.listItemButton {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

.cardMedia {
  height: 250px;
}