.nav {
  background-color: black;
  font-size: 1.1rem;
  box-shadow: 20px 20px 20px 20px rgba(255, 255, 255, 0.5);
}

.px-10 {
  padding: 1.25rem 10rem !important;
}
.p-4title {
  font-weight: 800;
  color: white;
  font-size: 35px;
  margin-right: 20px;
}
.p-3 {
  border-radius: 40px;
  
}

.p-3:hover, .p-3:active {
  background-color: rebeccapurple;
  color: white;
  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
}

.p-4 {
  font-size: 1.1rem;
}

.logoutLoginButton {
  font-size: 1.3rem !important;
  
}

.logoutLoginButton:hover {

  box-shadow: 0 0 20px rgba(171, 167, 171, 0.778);
}

.fixedNavbar {
  width: 60%;
  
}
.navLinks {
  width: 100%;
  justify-content: space-evenly;
}
.navbarList {
  justify-content: space-around;
}

.p-4-title-fixed {
  font-size: 1.5rem;
}
